header a {
color: red;
font-size: 40px;
text-decoration: none;
 }
.form {
    background: rgba(50, 50, 50, 0.8);
    border-radius: 8px;
    width: 30%;
    margin: 0 auto;
    height: 500px;
    padding-left: 20px;
    font-family:'Arial Narrow', Arial, sans-serif; 
 }
 h1 {
     color: white;
     padding-left: 20px;
     padding-top: 40px;
 }
  p {
    padding-left: 20px;
    color: rgba(245,255,250,0.6);
    display: block;
  }
   input[type="submit"] {
       color: white;
       font-size: 20px;
       border-radius: 8px;
       width: 315px;
       height: 50px;
       background: red;
       cursor: pointer;
       border:none;
   }
.content input{
    border-radius: 5px;
    width: 300px;
    resize: vertical;
    height: 40px;
    background: #8c8c8c;
    border:none;
    color: whitesmoke;
    font-size: 14px;
    padding-left: 10px;
    
}
.content ::placeholder{
    color: rgba(255, 255, 255, 0.8)
}
.more a{
    padding-left: 100px;
    text-decoration: none;
    /* color: white; */
}
p a{
    color: rgba(245, 255, 250, 0.9);
    text-decoration: none;   
}
body{
    background-image: url('Movie.jpg');
    background: cover;
    background-repeat: no-repeat;
    background-size: 100% 110%;
}
h5{
    font-size: 15px;
    font-family:Geneva, Tahoma, sans-serif;
    color:gold;
}